<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    
<h2>Login</h2> <% if (error) { %><p style="color:red"><%= error %></p><% } %> <form action="/home/" style="margin-left: 30px;" method="POST"> <input name="username" placeholder="Username" required> <input name="password" type="password" placeholder="Password" required> <button type="submit">Sign</button> </form>

        <img src="https://platform.theverge.com/wp-content/uploads/sites/2/chorus/uploads/chorus_asset/file/24868081/FZlSG30XEAI1nJa.jpeg" width="800" height="400"> 

        <h2>Run create python</h2>

        <form action="/administration" method="POST">
    <label for="pataIn">marker, space separated, line per go make it work lmao</label>
    <br>
    <textarea name="pataIn" rows="10" cols="50"></textarea>
    <br>
    <input type="submit" value="Sendddd">
</form>

    </body>
</html>

