<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>D3 World Map</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://d3js.org/d3.v7.min.js"></script>
  </head>
  <body>
    <div id="maparea" width="1000" height="600">
      <svg width="1000" height="600"></svg>
      <div class="tooltip" id="tooltip"></div>
    </div>

    <!-- <script src="modules/script.js"></script> -->
    <script src="modules/d3handler.js"></script>

    <a href="page_module/module.html?module=week_one_China">
        <button type="button"> Volcanoes and Tectonic Plates </button>
    </a>

  </body>
</html>

